body {
  font-size: 28px;
  margin: 0;
  padding: 0;
  background-color: #f3e9ff;
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: 45px 0 81px 0 ;
}

h1 {
  font-size: 57px;
  color: #774ad8;
}

img {
  width: 350px;
}

main {
  background-color: #774ad8;
  color: #f3e9ff;
  padding: 28px;
  border-radius: 20px;
  width: 1920px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 40px;
  margin-bottom: 20px;
}

li.important  {
  padding-left: 34px;
  border-left: 6px solid #ffefb7;
  color: #ffefb7;
}



.yellow {
  color: #ffefb7;
}


footer {
  text-align: center;
  padding: 32px;
}

button {
  display: inline-block;
  font-size: 28px;
  background-color: #f9c927;
  color: black;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
}

a {
  background-color: #ffefb7;
  text-decoration: none;
  padding: 0 8px ;
  border-radius: 8px;
  
}

a:hover {
  border: 2px solid #ffefb7;
  background-color: transparent;
  color: #ffefb7;
}